<h1>Entrados por: <small>{{termino}}</small></h1>
<hr>

<div *ngIf="newArrayHeroesBuscados == 0" class="row">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultados con el termino: {{termino}}
    </div>
  </div>
  
</div>
<div class="card-columns">
  <div *ngFor="let hero of newArrayHeroesBuscados" class="card animated fadeIn fast">
    <img class="card-img-top img-fluid" [src]="hero.img" [alt]="hero.img">
    <div class="card-block">
      <h4 class="card-title">{{hero.nombre}}</h4>
      <p class="card-text">{{hero.bio}}</p>
      <p class="card-text"><small class="text-muted">{{hero.aparicion}}</small></p>
    </div>
    
  </div>
</div>